<html>
    <head>


        <title>repositorio bauxita</title>
    </head>
    <body>



    </body>

       <form method="post">
       <input type="text" placeholder="ingrse el costo de explotación" name="cexp"/>
       <input type="text" placeholder="ingrse el costo fijo de planta" name="cfijo"/>
       <input type="text" placeholder="ingrse el costo de producción alumina" name="cpal"/>
       <input type="text" placeholder="ingrse el costo procesamiento esmaltado" name="cpes"/>

       <button type="submit">ejecutar modelo</button>
    
    
       </form>

       {{costo_total_minimo}}

      </body>
</html>
