<html>
    <head>
        <title>modelo de optimizacion</title>
    </head>
    <body>
        <form method="post">
            <b>Demanda plantas de esmaltado</b>
            <br>
            <p>Ingrese la demanda de la planta de esmaltado D: <input type="text" name="demanda_es_d"/></p>
            <br>
            <input type="text" placeholder="Ingrese la demanda de la planta de esmaltado E" name="demanda_es_e"/>
            <br> <br>
            <b>Capacidad plantas de esmaltado</b>
            <br>
            <p>Ingrese la capacidad de esmaltado de la planta de esmaltado D: <input type="text" placeholder="" name="capacidad_es_d"/></p>
            
            <button type="submit">ejecutar modelo</button>
        </form>

       <p>El resultado del modelo es: </p> {{salida_flask}}

    </body>
</html>